.contents-list
  .contents-list__post-box
    - @posts.each do |post|
      .contents-list__post-box__new-post{style: "background-image: url( = post.image );"}
        .contents-list__post-box__new-post__text
          = post.text
