.contents-list
  .contents-list__post-box
    - @posts.each do |post|
      .contents-list__post-box__new-post
        .contents-list__post-box__new-post__image
          = image_tag post.image.url, class: "post-image"
        .contents-list__post-box__new-post__text
          = post.text